In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("/root/akhil_workspace/qwen_model/evaluation_results/qwen2_comprehensive_scores.csv")

In [4]:
data.columns

Index(['image_id', 'generated_caption', 'ground_truth_captions',
       'factual_score', 'has_hallucination', 'mentioned_objects',
       'hallucinated_objects', 'ground_truth_objects', 'BLEU-1', 'BLEU-4',
       'ROUGE-L', 'hallucinated_objects_count', 'mentioned_objects_count',
       'ground_truth_objects_count', 'chair_regression_score'],
      dtype='object')

In [5]:
data.has_hallucination.value_counts()

has_hallucination
False    38201
True      2303
Name: count, dtype: int64

In [6]:
data.hallucinated_objects_count.value_counts()

hallucinated_objects_count
0    38201
1     2138
2      150
3       14
4        1
Name: count, dtype: int64

In [7]:
data.mentioned_objects_count.value_counts()

mentioned_objects_count
0    22664
1    14681
2     2789
3      342
4       26
5        2
Name: count, dtype: int64

In [8]:
data.ground_truth_objects_count.value_counts()

ground_truth_objects_count
1    18715
0     9829
2     9361
3     2199
4      358
5       36
6        6
Name: count, dtype: int64

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40504 entries, 0 to 40503
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   image_id                    40504 non-null  int64
 1   generated_caption           40504 non-null  object
 2   ground_truth_captions       40504 non-null  object
 3   factual_score               40504 non-null  float64
 4   has_hallucination           40504 non-null  bool
 5   mentioned_objects           17840 non-null  object
 6   hallucinated_objects        2303 non-null   object
 7   ground_truth_objects        30675 non-null  object
 8   BLEU-1                      40504 non-null  float64
 9   BLEU-4                      40504 non-null  float64
 10  ROUGE-L                     40504 non-null  float64
 11  hallucinated_objects_count  40504 non-null  int64
 12  mentioned_objects_count     40504 non-null  int64
 13  ground_truth_objects_count  40504 non-null  int64
 14  chair_regression_score      40504 non-null  float64
dtypes: bool(1), float64(5), int64(4), object(5)
memory usage: 4.4+ MB

In [11]:
data.head(3)

,image_id,generated_caption,ground_truth_captions,factual_score,has_hallucination,mentioned_objects,hallucinated_objects,ground_truth_objects,BLEU-1,BLEU-4,ROUGE-L,hallucinated_objects_count,mentioned_objects_count,ground_truth_objects_count,chair_regression_score
0,42,"""Cozy nap time amidst the clutter!""",This wire metal rack holds several pairs of sh...,0.834602,False,NaN,NaN,dog,0.085570,0.020960,0.12500,0,0,1,0.0
1,73,"""Vintage motorcycle with classic design and a ...",A motorcycle parked in a parking space next to...,0.771473,False,motorcycle,NaN,bicycle; motorcycle,0.272727,0.024808,0.26087,0,1,2,0.0
2,74,A relaxed white dog rests on the cobblestone s...,A picture of a dog laying on the ground.; Dog ...,0.937094,False,bicycle; dog,NaN,bicycle; dog,0.578947,0.082931,0.40000,0,2,2,0.0

In [2]:
df = pd.read_csv("/root/akhil_workspace/qwen_model/comprehensive_datasets/qwen_dataset_pre_generation_layer_14_end_query.csv")

In [3]:
df.shape

(40504, 10)

In [4]:
df.head(2)

,image_id,corresponding_embedding,generated_caption,ground_truth_captions,factual_score,has_hallucination,BLEU-1,BLEU-4,ROUGE-L,chair_regression_score
0,COCO_val2014_000000000042,"[0.07421875, -0.9765625, 0.19140625, 1.3359375...","""Cozy nap time amidst the clutter!""",This wire metal rack holds several pairs of sh...,0.834602,False,0.085570,0.020960,0.12500,0.0
1,COCO_val2014_000000000073,"[-0.16015625, -0.90625, 0.2158203125, 1.445312...","""Vintage motorcycle with classic design and a ...",A motorcycle parked in a parking space next to...,0.771473,False,0.272727,0.024808,0.26087,0.0

In [5]:
type(df.corresponding_embedding[0])

str